<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.Quran.Elmallah.Prayer-Times.fetchPrayerTimes</string>
	</array>
	<key>VersionCheckConfigURL</key>
	<string>https://blinkdagger182.github.io/waktusolat/version-check.json</string>
	<key>MarketingModalConfigURL</key>
	<string>https://blinkdagger182.github.io/waktusolat/marketing-modal.json</string>
	<key>SupportPromoScheduleURL</key>
	<string>https://api-waktusolat.vercel.app/api/support/toasts/schedule</string>
	<key>SupportPromoPoolURL</key>
	<string>https://api-waktusolat.vercel.app/api/donations/pool/current</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>Uthmani.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>app.riskcreatives.waktu</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>waktu</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
